# Análise exploratória de top 10 do catálogo Netflix

Analisaremos a seguir uma base de dados do catálogo Netflix, com intuito de entender quais produtos do seu catálogo alcançaram o top 10 mais assistidos da plataforma para fins de estudos e aprendizado da biblioteca "pandas".

In [ ]:
# Instalando a bibliotexa de análise de dados pandas.

%pip install pandas

In [2]:
# Importanto a biblioteca pandas

import pandas as pd

In [3]:
# Carregando dataframe na memória
df_netflix = pd.read_csv("./netflix daily top 10.csv")

In [4]:
# Visualizando as primeiras linhas, cinco se um número não for especificado: "(10)"
df_netflix.head()

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
0,2020-04-01,1,1,1,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",9,90
1,2020-04-01,2,2,-,Ozark,TV Show,Yes,"Jul 21, 2017",5,45
2,2020-04-01,3,3,2,All American,TV Show,NaN,"Mar 28, 2019",9,76
3,2020-04-01,4,4,-,Blood Father,Movie,NaN,"Mar 26, 2020",5,30
4,2020-04-01,5,5,4,The Platform,Movie,Yes,"Mar 20, 2020",9,55

In [5]:
# Visualizando as últimas linhas, cinco se um número não for especificado: "(10)"
df_netflix.tail()

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
7095,2022-03-11,6,5,1,Worst Roommate Ever,TV Show,Yes,"Mar 1, 2022",10,81
7096,2022-03-11,7,7,2,Vikings: Valhalla,TV Show,Yes,"Feb 25, 2022",14,100
7097,2022-03-11,8,8,-,Shooter,Movie,NaN,"Aug 1, 2014",3,7
7098,2022-03-11,9,9,7,Shrek 2,Movie,NaN,"Mar 1, 2022",10,33
7099,2022-03-11,10,10,-,Shrek,Movie,NaN,"May 1, 2018",7,12

In [6]:
display(df_netflix)

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
0,2020-04-01,1,1,1,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",9,90
1,2020-04-01,2,2,-,Ozark,TV Show,Yes,"Jul 21, 2017",5,45
2,2020-04-01,3,3,2,All American,TV Show,NaN,"Mar 28, 2019",9,76
3,2020-04-01,4,4,-,Blood Father,Movie,NaN,"Mar 26, 2020",5,30
4,2020-04-01,5,5,4,The Platform,Movie,Yes,"Mar 20, 2020",9,55
...,...,...,...,...,...,...,...,...,...,...
7095,2022-03-11,6,5,1,Worst Roommate Ever,TV Show,Yes,"Mar 1, 2022",10,81
7096,2022-03-11,7,7,2,Vikings: Valhalla,TV Show,Yes,"Feb 25, 2022",14,100
7097,2022-03-11,8,8,-,Shooter,Movie,NaN,"Aug 1, 2014",3,7
7098,2022-03-11,9,9,7,Shrek 2,Movie,NaN,"Mar 1, 2022",10,33
7099,2022-03-11,10,10,-,Shrek,Movie,NaN,"May 1, 2018",7,12

In [7]:
# Verificando o tamanho do dataframe

df_netflix.shape

(7100, 10)

In [8]:
# Informações individuais de cada coluna do dataframe, com base no seu tipo, numero e nomes

df_netflix.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7100 entries, 0 to 7099
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   As of                 7100 non-null   object
 1   Rank                  7100 non-null   int64
 2   Year to Date Rank     7100 non-null   object
 3   Last Week Rank        7100 non-null   object
 4   Title                 7100 non-null   object
 5   Type                  7100 non-null   object
 6   Netflix Exclusive     4599 non-null   object
 7   Netflix Release Date  7100 non-null   object
 8   Days In Top 10        7100 non-null   int64
 9   Viewership Score      7100 non-null   int64
dtypes: int64(3), object(7)
memory usage: 554.8+ KB

In [9]:
df_netflix.dtypes

As of                   object
Rank                     int64
Year to Date Rank       object
Last Week Rank          object
Title                   object
Type                    object
Netflix Exclusive       object
Netflix Release Date    object
Days In Top 10           int64
Viewership Score         int64
dtype: object

In [10]:
# Verificamos uma coluna específica de um datafram e analisamos a quantidade de nulos presentes.

df_netflix["Netflix Exclusive"].isnull().sum()

np.int64(2501)

In [11]:
df_netflix["Netflix Exclusive"].value_counts()

Netflix Exclusive
Yes    4599
Name: count, dtype: int64

In [12]:
df_netflix.describe()

              Rank  Days In Top 10  Viewership Score
count  7100.000000     7100.000000       7100.000000
mean      5.500000       24.123662        122.790141
std       2.872484       58.473789        213.861642
min       1.000000        1.000000          1.000000
25%       3.000000        3.000000         19.000000
50%       5.500000        7.000000         50.000000
75%       8.000000       18.000000        128.000000
max      10.000000      428.000000       1474.000000

In [13]:
# Biblioteca de plotagem de gráficos

%pip install matplotlib

Requirement already satisfied: matplotlib in d:\users\aluno\desktop\pythonsenai\venv\lib\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in d:\users\aluno\desktop\pythonsenai\venv\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in d:\users\aluno\desktop\pythonsenai\venv\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in d:\users\aluno\desktop\pythonsenai\venv\lib\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in d:\users\aluno\desktop\pythonsenai\venv\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in d:\users\aluno\desktop\pythonsenai\venv\lib\site-packages (from matplotlib) (2.1.1)
Requirement already satisfied: packaging>=20.0 in d:\users\aluno\desktop\pythonsenai\venv\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in d:\users\aluno\desktop\pythonsenai\venv\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in d:\users\aluno\desktop\pythonsenai\venv\lib\site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in d:\users\aluno\desktop\pythonsenai\venv\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in d:\users\aluno\desktop\pythonsenai\venv\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [17]:
df_netflix.hist

<bound method hist_frame of            As of  Rank Year to Date Rank Last Week Rank  \
0     2020-04-01     1                 1              1
1     2020-04-01     2                 2              -
2     2020-04-01     3                 3              2
3     2020-04-01     4                 4              -
4     2020-04-01     5                 5              4
...          ...   ...               ...            ...
7095  2022-03-11     6                 5              1
7096  2022-03-11     7                 7              2
7097  2022-03-11     8                 8              -
7098  2022-03-11     9                 9              7
7099  2022-03-11    10                10              -

                             Title     Type Netflix Exclusive  \
0     Tiger King: Murder, Mayhem …  TV Show               Yes
1                            Ozark  TV Show               Yes
2                     All American  TV Show               NaN
3                     Blood Father    Movie               NaN
4                     The Platform    Movie               Yes
...                            ...      ...               ...
7095           Worst Roommate Ever  TV Show               Yes
7096             Vikings: Valhalla  TV Show               Yes
7097                       Shooter    Movie               NaN
7098                       Shrek 2    Movie               NaN
7099                         Shrek    Movie               NaN

     Netflix Release Date  Days In Top 10  Viewership Score
0            Mar 20, 2020               9                90
1            Jul 21, 2017               5                45
2            Mar 28, 2019               9                76
3            Mar 26, 2020               5                30
4            Mar 20, 2020               9                55
...                   ...             ...               ...
7095          Mar 1, 2022              10                81
7096         Feb 25, 2022              14               100
7097          Aug 1, 2014               3                 7
7098          Mar 1, 2022              10                33
7099          May 1, 2018               7                12

[7100 rows x 10 columns]>

In [18]:
def aplica_no(exclusive):
    if exclusive != "Yes":
        return "No"
    return exclusive

In [22]:
df_netflix["Netflix Exclusive"] = df_netflix["Netflix Exclusive"].apply(aplica_no)

In [24]:
display(df_netflix)

,As of,Rank,Year to Date Rank,Last Week Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
0,2020-04-01,1,1,1,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",9,90
1,2020-04-01,2,2,-,Ozark,TV Show,Yes,"Jul 21, 2017",5,45
2,2020-04-01,3,3,2,All American,TV Show,No,"Mar 28, 2019",9,76
3,2020-04-01,4,4,-,Blood Father,Movie,No,"Mar 26, 2020",5,30
4,2020-04-01,5,5,4,The Platform,Movie,Yes,"Mar 20, 2020",9,55
...,...,...,...,...,...,...,...,...,...,...
7095,2022-03-11,6,5,1,Worst Roommate Ever,TV Show,Yes,"Mar 1, 2022",10,81
7096,2022-03-11,7,7,2,Vikings: Valhalla,TV Show,Yes,"Feb 25, 2022",14,100
7097,2022-03-11,8,8,-,Shooter,Movie,No,"Aug 1, 2014",3,7
7098,2022-03-11,9,9,7,Shrek 2,Movie,No,"Mar 1, 2022",10,33
7099,2022-03-11,10,10,-,Shrek,Movie,No,"May 1, 2018",7,12

In [25]:
df_netflix.drop("Last Week Rank", axis=1)

,As of,Rank,Year to Date Rank,Title,Type,Netflix Exclusive,Netflix Release Date,Days In Top 10,Viewership Score
0,2020-04-01,1,1,"Tiger King: Murder, Mayhem …",TV Show,Yes,"Mar 20, 2020",9,90
1,2020-04-01,2,2,Ozark,TV Show,Yes,"Jul 21, 2017",5,45
2,2020-04-01,3,3,All American,TV Show,No,"Mar 28, 2019",9,76
3,2020-04-01,4,4,Blood Father,Movie,No,"Mar 26, 2020",5,30
4,2020-04-01,5,5,The Platform,Movie,Yes,"Mar 20, 2020",9,55
...,...,...,...,...,...,...,...,...,...
7095,2022-03-11,6,5,Worst Roommate Ever,TV Show,Yes,"Mar 1, 2022",10,81
7096,2022-03-11,7,7,Vikings: Valhalla,TV Show,Yes,"Feb 25, 2022",14,100
7097,2022-03-11,8,8,Shooter,Movie,No,"Aug 1, 2014",3,7
7098,2022-03-11,9,9,Shrek 2,Movie,No,"Mar 1, 2022",10,33
7099,2022-03-11,10,10,Shrek,Movie,No,"May 1, 2018",7,12